.draggable-ship-container {
  cursor: grab;
  width: fit-content;
  height: fit-content;
}

.draggable-ship-container:active {
  cursor: grabbing;
}

.ship-image {
  display: block;
  pointer-events: none; /* สำคัญมาก */
  transition: transform 0.2s ease-in-out;
}

.ship-image.horizontal {
  width: 166px; /* 40*4 + 2*3 */
  height: 40px;
}

.ship-image.vertical {
  width: 166px;
  height: 40px;
  transform-origin: top left;
  transform: rotate(90deg) translateY(-100%);
}