/* src/components/Game.css */
.game-container {
  width: 100%;
}

.turn-indicator {
  margin-bottom: 20px;
}

.turn-indicator h2 {
  transition: all 0.3s ease-in-out;
}

.turn-indicator .my-turn {
  color: #61dafb;
  transform: scale(1.1);
}

.boards-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.board-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-over {
  padding: 50px;
  border: 2px solid #61dafb;
  border-radius: 10px;
}
.game-over h1 {
    color: #ff4136;
}





.placement-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.ship-palette {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #20232a;
  padding: 10px;
  border-radius: 8px;
}

.ships-to-drag {
    display: flex;
    flex-wrap: wrap;
}