
body {
  background-color: #282c34;
  color: white;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  padding: 20px;
  border-bottom: 1px solid #444;
}

main {
  padding: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #333;
  color: white;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  color: #282c34;
  font-weight: bold;
}

button:hover {
  background-color: #72e2ff;
}

ul {
    list-style: none;
    padding: 0;
}